@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Noto Serif", serif;
    font-family: "Inter", sans-serif;
}
/* --------utility-------- */
.home-section{
    padding: 50px 0;
}
.section-heading{
    font-family: "Noto Serif", serif;
    font-size: 4.0625rem;
    font-weight: bold;
}
.colored{
    color: #E95A08;
}
.section-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

/* ----------Header---------- */
.hero-section{
    margin-top: 100px;
}
.nav-link{
    color: #8987A1;
}
.nav-link.active{
    color: #252432;
}
.nav-link:hover{
    color: #252432;
}